@media (prefers-reduced-motion: no-preference) {
  * {scroll-behavior: smooth;}
}

* {
  box-sizing: border-box;
}

body{
  background-color: aliceblue;
}
html {
  font-size: 62.5%;
}



header{
  width: 100%;
  height: 90px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 4px;
  background: linear-gradient(180deg,rgb(149, 216, 48) 0%, rgb(151, 237, 128) 68%, rgb(147, 196, 74) 100%);
}

nav {
  width: 100%;
  height: 40px;
  margin: 0;
  display: block;
  padding-top: 4px;
}

ul[id=nav] {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: black;
}

ul#nav > li {
  display: inline-block;
  font-size: 2.4rem;
  text-align:center;
}

.img-3 {
  text-align:right;
  width: 620px;
  height: 570px;
}

#bio {
  font-style: italic;
  padding-top: 100px;
  text-align:left;
  transform: scale(0.94);
  animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
  color:rgb(237, 124, 124);
  padding-left:20px;
  font-size: 16px;
  
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.ph{
 
  margin-left: 5px;
  color:black;
  font-size: 14px;
}
span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.h2home{
     font-size: 30px;
}



p {
  max-width: 80%;
  margin: 30px auto;
}

a[id=return-to-top] {
  text-decoration: none;
  color: black;
}

hr {
  height: 3px;
  width: 90%;
  margin: 100px auto;
}

.p-courses {
  margin-bottom: 130px;
}

#courses-gallery {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  max-width: 1700px;
  margin-top:100px;
}

#courses-gallery img{
  width: 100%;
  max-width: 472px;
  height: 355px;
  object-fit: cover;
}
.phome{
  padding-top: 500px;
}


#blog-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  max-width: 1700px;
  margin: 0 auto;
}

#blog-gallery img {
  width: 100%;
  max-width: 600px;
  height: 250px;
  object-fit: cover;
}

/* Library Background; insert Div with ID of selector below */

#books-bg {
  background-image: url(https://wallpaperaccess.com/full/5487854.jpg);
  opacity: 0.6;
  filter: brightness(1.4);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  width: 100%;
  height: 800px;
  margin-top: 40px;
  transform: translate(0%, -50%);
  z-index: 3;

}

#books-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;
}


#books-gallery img {
  width: 100%;
  max-width: 175px;
  height: 300px;
  object-fit: cover;
}

#podcast-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
  max-width: 1000px;
  margin: 50px auto;
  width: 75%;
}

#podcast-gallery img {
  width: 100%;
  max-width: 250px;
  height: 250px;
  object-fit: cover;
}

h3 {
  font-size: 2rem;
  width: 90%;
  margin: 30px auto;
}

ul#podcast-list {
  width: 90%;
  margin: auto;
}

ul#podcast-list > li {
  font-size: 2rem;
  margin: 20px 0;
}

#podcast-info {
  width: 800px;
  margin: auto;
  border-top: 6px double black;
}

button {
  margin: auto;
  height: 45px;
  width: 150px;
  background-color: rgb(172, 103, 43);
  display: block;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 4px;
}


a[id=button] {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

footer {
  font-size: 1.5rem;
  text-align: center;
}